UserInterfaceState.xcuserstate
build
*.pbxuser
*.perspectivev3
*.mode1v3
*~
*~.nib
*~.xib 
.DS_Store 
xcuserdata/
*.xcuserstate

MathMasters.xcodeproj/project.xcworkspace/xcuserdata/whatsername.xcuserdatad/UserInterfaceState.xcuserstate
